@use 'colours';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

/* Composition */
nav a + a {
    margin-left: 3rem;
}

nav a:first-child{
    margin-right: auto;
}

/* Utility */
.text-28px {
    font-size: 28px;
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

/* Block */
nav {
    position: sticky;
    top: 0;
    height: 5rem;
    background: linear-gradient(45deg, colours.$secondary-accent, colours.$primary-accent);
    width: 100%;
}

a {
    text-decoration: none;

    &:visited{
        color:white;
    }
}

.make-it-scroll {
    height: 500px;
    background: colours.$primary;
}

.home {
    height: 100%;
    background-image: url('./assets/bibimbap.png');
}

/* Exception */


