@use 'colours';
@use 'constants';
@use 'fonts';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: fonts.$wix-text;
    height: 100%;
    scroll-behavior: smooth;
}

/* Composition */
nav a + a {
    margin-left: 3rem;
}

nav a:first-child{
    margin-right: auto;
    margin-left: 1rem;
}

nav a:last-child{
    margin-right: 1rem;
}

/* Utility */
.text-28px {
    font-size: 28px;
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

/* Block */
h1 {
    font-family: fonts.$wix-display;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: constants.$nav-bar-height;
    background: linear-gradient(45deg, colours.$secondary-accent, colours.$primary-accent);
    width: 100%;
}

a {
    text-decoration: none;
    color: white;

    &:visited{
        color:white;
    }
}

.make-it-scroll {
    height: 500px;
    background-color: colours.$primary;
}

section {
    display: flex;
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: calc(100vh - constants.$nav-bar-height);
    background-image: url('assets/bibimbap.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.recipe-box {
    width: 100rem;
}

/* Exception */


